<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 해당 jar파일들 추가해주어야 정상적으로 가져옴 -->
	<bean id="data-source-target" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@localhost:1521:orcl</value>
		</property>
		<property name="username">
			<value>scott</value>
		</property>
		<property name="password">
			<value>tiger</value>
		</property>
	</bean>
	<!-- ====================== [[ Spring & MyBatis 시작 ]] ====================== -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="WEB-INF/mybatis-config.xml" />
		<property name="dataSource" ref="data-source-target" />
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" >
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	<!-- ====================== [[ Spring & MyBatis  끝 ]] ====================== -->
	<bean id="auth-dao" class="com.spring4.mvc.AuthDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>
</beans>
<!-- 
	spring-jdbc.jar를 매번 이런식으로 다운로드 받고 WEB-INF아래 lib에 배포해야하는건가??..매번...?
	또 클래스 간에 의존관계도 파악해서 넣어야 한다는데.... 어떤 애랑 어떤거랑 의존관계가 있는지 일일이
	내가 파악하고 결정해서 넣어야 한다구요????
 -->
