<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="auth-logic" class="com.spring4.mvc.AuthLogic">
	<!-- 여기서 ref는 spring-data.xml에서 id에서 가져온것 -->
		<property name="authDao" ref="auth-dao" />
	</bean>	
</beans>
